/*html, body {
	!* 設定body高度為100% 拉到視窗可視的大小 *!
	height: 100%;
}

#Content {
	!* 設定高度最小為100%, 如果內容區塊很多, 可以長大 *!
	min-height: 65.1%;
}*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*返回顶部按钮样式*/
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
    /* image replacement properties */
    overflow: hidden;
    /*text-indent: 100%;*/
    white-space: nowrap;
    background: url(../images/cd-top.png) no-repeat center;
    /*background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;*/
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
    opacity: 0.5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 40px;
        width: 40px;
        right: 30px;
        bottom: 30px;
    }
}

/*提示消息*/
p.msg {
    display: none;
}

p.msg i {
    margin-right: 2px;
    margin-left: 30px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
}

/* 注册框提示消息样式 */
form#Register p.msg {
    float: right;
    margin-left: -200px;
    color: darkorange;
    margin-top: -50px;
}

/* 登陆框提示消息样式 */
form#Login_in p.msg {
    float: right;
    margin-left: -300px;
    color: darkorange;
    margin-top: -50px;
}

/* 注册框输入框图标样式 */
/*i.prefix {
	margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
}*/

/* 图片预览框 */
#preview img {
    /* position:absolute; */
    /* right:15%;
    top:13px; */
    max-width: 100%;
}

/*导航栏搜索*/
/*div#navsearch {
	margin:0;
	border:0 none;
	padding:0;
	float:left;
}*/

/*导航栏悬浮*/
/*nav {
	position:fixed;
	top:0px;
}*/

/*页脚悬浮*/
/*footer {
	position:fixed;
	bottom:0px;
	width:100%;
}*/

/*已加载页面默认为隐藏状态*/
.page {
    display: none;
}

/*当前显示的页面*/
.page-current {
    display: block;
}

/*文章页面最大宽度*/
.topic_detail * {
    max-width: 100%;
}


